@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-logo-color: black;
  --secondary-logo-color: #7A6600;
  --secondary-logo-color-dark: #be9f02;
}

.light {
  /* Your default theme */
  --background: white;
  --foreground: black;
  transition: all 0.2s ease-in-out;
}


.dark {
  --background: #444444;
  --foreground: white;
  transition: all 0.2s ease-in-out;
}



html, body {
    
  /* transition: all 0.5s ease-in-out; */
}

body {

  /* transition: all 0.5s ease-in-out; */


}

/* @font-face {
  font-family: 'OpenDyslexic';
  font-weight: 400;
  font-display: optional;
  src: local('OpenDyslexicFont'), url('/public/fonts/OpenDyslexic-Regular.otf') format('otf');
} */

html .dark-dys {
  color-scheme: dark;
}

html .light-dys {
  color-scheme: light;
}

.dark-dys {

  transition: all 0.5s ease-in-out;
  color: white;
  color-scheme: dark;
}

.dark-dys > * {
  transition: all 0.5s ease-in-out;
  font-family: '__opendyslexic_d8b60a', 'Arial' !important;
  background-color: #444444;
  color: white;
  color-scheme: dark;
}

.light-dys {

  transition: all 0.5s ease-in-out;
  background-color: white;
  color-scheme: light;
}

.light-dys > * {
  transition: all 0.5s ease-in-out;
  font-family: '__opendyslexic_d8b60a', 'Arial' !important;
  background-color: white;
  color-scheme: light;
}


/* @layer components {
  body * {
      @apply transition-colors duration-500;
  }
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.coffee-brown {
  color: var(--secondary-logo-color);
}

.coffee-brown-darkm {
  color: var(--secondary-logo-color-dark);
}

.skill-circle {
    /* Center index is 3 → adjust based on item count */
    --center: 3;
    transform: scale(calc(1 - (abs(var(--i) - var(--center)) * 0.1)));
  }

/* Fallback if `abs()` unsupported by some browsers */
.skill-circle {
  --distance: calc(var(--i) - var(--center));
  /* --scale: calc(1 - (clamp(-4, var(--distance), 4) * 0.05)); */
  transform: scale(var(--scale));
}

@media (width <= 40rem) { 

  @keyframes mobileslide {

      0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }

  .slide-animation-mobile {

    will-change: transform;
    animation: mobileslide 10s linear infinite;

  }

}
